# OS junk
[Tt]humbs.db
.DS_Store

src/main/resources/*.js
build/**
lib/**

# Project
**/*/lib/
**/**/dist/
**/**/build-interface/
**/**/manifest.yml
**/**/*.zip
**/**/*.tgz
**/**/assets/js/*.bundle.js*
**/**/assets/generated/**/*
!**/**/assets/generated/.gitkeep
**/**/yarn.lock
**/**/public/
**/**/.cache-loader
!**/myaudi-webapp/src/application/module/public/
**/myaudi-webapp/src/application/module/example/
**/myaudi-webapp/src/application/module/example-meta.ts
**/**/lib-srv
# IDE
.idea/
*.iml

# Environment
node_modules/
local_modules/
*.log
npm-debug.log*
package.json.lerna_backup
package-lock.json
.env
properties/*
*.properties.zip
manifest-myaudi*.yml
Staticfile*
.invoke.*.js

# Tests
coverage/
/.composed/
